.card{
    width:200px;
    height:200px;
    border: 2px solid black;
    display:inline-block;
    margin:10px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px black;
    background-color: rgb(143, 236, 50);
    transform:skew(2deg);
    transition:1s;
}

.desc{
    padding:0 2px 0 2px;
}

img{
    width:100%;
    height:50%;
    border-radius:5px 5px 0 0;
}

.card:hover{
    box-shadow:10px 8px 16px rgb(57, 230, 42);
    transition: 2s;
}