div {
    height: 150px;
    width: 400px;
    background-color: pink;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-top-right-radius: 0;
    padding: 20px;
    margin-left: 10px;
    margin: 10px;
   
    /* border: 5px solid black;
    border-left-color: green;
    border-right-style: dashed; */
}

h1 {
    border-width: 2px;
    border-style: dashed;
    border-color: green;
    border-radius:20px;
    padding: 10px;
}

button {
    background-color: lightblue;
    border-radius: 12px;
    border-width: 3px;
    border-style: solid;
    border-color: navy;
    font-size: 16px;
    font-size: 16px;
    padding: 10px 20px 10px 10px;
}

