/* {
    height:200px;
    width:200px;
    background-color: #4dff00ff;
    transition: 2s 1s;
    margin: 0 auto;
    transition:margin-top 2s ease-in-out;
    transform: rotate(45deg);



}

.class:hover{
    background-color: pink;
    border-radius: 50%;
    margin-top: 400px;
} */


section{
   margin-top:100px ;

}

div{
    width: 200px;
    height:50px;
    text-align:center;
    background-color:#76a874;
    border:2px solid black;
    margin:10px;
}

div:nth-of-type(2n){
    background-color:#f7db6a;
}
div:nth-of-type(3n){
    background-color:#ebb02d;
}
#one{
    transform:rotate(360deg);
    box-shadow: yellow 10px 10px 5px;

    background-image:url("love.jpg.jpg");
    background-size:cover;
    
}
#two{
    transform:scalex(0.5);
    transform:scaley(0.5);
}

#three{
    transform:translateX(100px);
    transform:translateY(100px);
}

#four{
    transform: skew(30deg);
}
