*{
    font-family: courier new;
}
h3{
    color: purple;
}

h1{
    color: #b92b27;
   
}
#login{
    background-color: white;;
}
#signup{
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color: green;
    color: white;
}
/* decendent selector*/

.post a{
    color: purple;
    background-color: yellow;
}